@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --cor01:  rgb(82, 161, 89); 
    --corbutton: #0b1d12;
    --font01: 'Open Sans', sans-serif;

}

* {
    box-sizing: border-box;
    outline: 0;
   
}
body{
    font-family: var(--font01);
    background-color: var(--cor01);
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    
}

form input, form label, form button {
    display: block;
    width: 100%vw;
    margin-bottom: 10px;
}

form input {
    font-size: 24px ;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 2px solid black;
}

form button {
    border: none;
    background-color: var(--cor01);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    padding: 10px;
    width: 100%;
}

form button:hover  {
    background-color: var(--corbutton);
}

form button:active {
    background-color: greenyellow;
}

th {
    text-align: justify;
}
td {
    padding-right: 120px;
    text-align: justify;
}

.paragResultado {
    background: rgb(26, 131, 99);
    padding: 10px 20px;
}